<p>Bonjour M./Mme./Mlle. {{ contact.name }},</p>

<p>Nous avons bien noté votre demande de contact.</p>

<p>Nous vous recontacterons par téléphone ou par mail très rapidement.</p>

<p>Dans l'attente de cet échange, nous restons à votre disposition et vous souhaitons une agréable journée.</p>
<br>
<p>{{ twcSiteName() }}</p>

